@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Roboto-Regular.ttf') format('opentype');
}

@font-face {
    font-family: 'Roboto';
    font-style: bolder;
    font-weight: 900;
    font-display: swap;
    src: url('../fonts/Roboto-Black.ttf') format('opentype');
}

@font-face {
    font-family: 'Roboto';
    font-style: bold;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/Roboto-Bold.ttf') format('opentype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/Roboto-Bold.ttf') format('opentype');
}

/* Global */
section{
    padding-bottom: 80px;
}

section h2{
    text-align: center;
    padding: 80px 0 60px;
    font-size: 36px;
    line-height: 26px;
    margin: 0 auto;
    color: #222;
    max-width: 520px;
    font-weight: 500;
    line-height: 48px;
}

section h2 .subtitle{
    font-size: 16px;
    line-height: 26px;
    color: #444;
    display: block;
    margin-top: 20px;
    font-weight: normal;
}

section:nth-of-type(2n+1){
    background: #F6F8FB;
}

.checklist{
    padding: 0;
    list-style: none;
    margin: 0;
}

.checklist li{
    position: relative;
    padding-left: 20px;
    margin-top: 15px;
    color: #222;
    text-align: left;
}

.checklist li::before{
    content: '';
    width: 10px;
    height: 10px;
    display: block;
    background-image: url(../img/check_icon_light.svg);
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 4px;
}

.btn{
    width: 100%;
    border: 0;
    line-height: 40px;
    color: #fff;
    font-weight: 600;
    margin-top: 20px;    
    border-radius: 4px;
    font-size: 16px;
    text-transform: uppercase;
    background: transparent;
    color: #063271;
    border-color: #063271;
    border: 2px solid;
    font-size: 15px;
}

.btn-green{
    color: #fff;
    background: linear-gradient(88.46deg, #3ADABA -1.37%, #43EAC8 103.67%);
    border-color: transparent;
}

.select{
    position: relative;
}

.select:after {
    content: "";
    background-image: url('../img/select_arrow.svg');
    background-repeat: no-repeat;
    padding: 0 8px;
    font-size: 12px;
    position: absolute;
    right: 15px;
    bottom: 17px;
    z-index: 1;
    text-align: center;
    width: 6px;
    height: 6px;  
    pointer-events: none;
    box-sizing: border-box;
}

select {
    padding-right: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Start block */
section.header-block{
    background-image: url('../img/background.png');
    height: 100vh;
    background-size: cover;
    color: #fff;
    position: relative;
}

.header-block header{
    padding: 45px 0;
}

.header-block .logo-box{
    line-height: 50px;
}

.header-block .main-nav{
  display: flex;
  justify-content: space-between;
  padding-left: 35px;
}

.header-block .main-nav a{
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    line-height: 50px;
    color: #fff;
}

.header-block #nav-menu{
    width: 22px;
    height: 25px;
    position: relative;
    margin-left: 45px;
    margin-top: 17px;  
    cursor: pointer;
}

.header-block #nav-menu span{
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fff;
    opacity: 1;
    left: 0;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.header-block #nav-menu span:nth-child(1) {
    top: 0px;
}
  
.header-block #nav-menu span:nth-child(2),
.header-block #nav-menu span:nth-child(3) {
    top: 7px;
}
  
.header-block #nav-menu span:nth-child(4) {
    top: 14px;
}
  
.header-block #nav-menu.open span:nth-child(1) {
    top: 7px;
    width: 0%;
    left: 50%;
}
  
.header-block #nav-menu.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
  
.header-block #nav-menu.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
  
.header-block #nav-menu.open span:nth-child(4) {
    top: 7px;
    width: 0%;
    left: 50%;
}

.header-block--desc{
    text-align: center;
    line-height: 24px;
    padding: 0 40px;
    position: relative;
    z-index: 1;
}

.header-block--desc h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;
    text-transform: uppercase;
    margin-bottom: 0.325em;
}

.header-block--img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
}

/* Features block */
.features-block span.features-item--title {
    display: block;
    padding: 20px 20px 0;
    font-size: 24px;
    line-height: 28px;
}

.features-block h2{
    padding-bottom: 80px;
}

.features-block .checklist .li::before{
    background-image: url(../img/check_icon.svg);
}


/* Softwares block */
.softwares-block img{
    width: 100%;
}

/* Services block */
.services-block .services-item{
    text-align: center;
}

.services-block .services-item img{
    margin-bottom: 20px;
}

/* Advantages block */
.advantages-block{
    position: relative;
}

.advantages-block .advantages-image{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 55%;
}

/* Price block */
.price-block h2{
    padding-bottom: 40px;
}

.price-block .price-item{
    border: 2px solid #DEE2EB;
    margin-left: -2px;
    text-align: center;
    padding: 10px;
}

.price-block .price-item:first-child{
    margin-left: 0;
}

.price-block .price-item--title{
    font-size: 24px;
    line-height: 28px;
    padding: 10px;
}

.price-block .checklist{
    font-size: 15px;
}

.price-block .price-item--storage {
    background: rgba(222, 226, 235, 0.25);
    border-radius: 4px;
    line-height: 60px;
}

.price-block .price-item--btn{
    background: linear-gradient(90deg, #00B5D4 1.32%, #1063AA 100.38%);
    border-radius: 4px;
    width: 100%;
    border: 0;
    line-height: 48px;
    font-size: 24px;
    line-height: 48px;
    color: #fff;
    font-weight: 600;
    margin-top: 20px;
}

.price-block .price-item--btn span{
    font-size: 20px;
    font-weight: 400;
}

.price-block .price-item--btn.btn-green{
    background: linear-gradient(88.46deg, #3ADABA -1.37%, #43EAC8 103.67%);
    border-radius: 4px;
    font-size: 16px;
    text-transform: uppercase;
}

/* Contact block */
.contact-form{
    width: 720px;
    margin: auto;
    max-width: 100%;
}

.contact-form #name{
    background-image: url('../img/user_icon.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 15px);
}

.contact-form #firma{
    background-image: url('../img/firma_icon.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 15px);
}

.contact-form #email{
    background-image: url('../img/mail_icon_bold.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 15px);
}

.contact-form #phone{
    background-image: url('../img/phone_icon_bold.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 15px);
}

.contact-form #comment{
    background-image: url('../img/edit_icon.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) 15px;
    resize: none;
}

.contact-form .btn{
    width: 245px;
    display: inline-block;
}

.contact-form .btn-green{
    margin-right: 30px;
}

@media only screen and ( max-width: 768px ){
    .header-block--desc h1{
        font-size: 46px;
    }
    h2{
        font-size: 30px;
    }
}

@media only screen and ( max-width: 480px ){
    .header-block--desc h1{
        font-size: 38px;
    }
}